{% extends 'master.html' %}

{% block master_head %}
  <!-- Perpage head extension -->
  {% block head %}
  {% endblock %}
{% endblock %}

{% block body %}
  <div class="container-fluid">
  <div class="row-fluid">

    {% block __block_1 %}
      <div class="span1" id="lsb" style="margin-top:100px;">
        {% block lsb_content %}
          <!-- The social sharing -->
          <div id="share-buttons" data-spy="affix" data-affix-top="200">
            <ul class="nav">
              <li class="nav-header">Share</li>
            <li><div class="g-plusone" data-size="medium"></div></li>
            <br>
            <li><a href="https://twitter.com/share" class="twitter-share-button" data-dnt="true">Tweet</a></li>
          </div>
        {% endblock %}
      </div>
    {% endblock %}

    {% block __block_2 %}
      <div class="span6" id="main" style="margin-top:10px;">
        {% block middle_content %}
          <!-- Error content -->
          <div id="info">
            <div id="message"></div>
          </div>

          <div id="content-title" class="heading1">
            {% block title %}
              {% if pagetitle %}
                <div class="page-header">
                  <h1> {{ pagetitle }}
                    {% if subtitle %} <small>{{ subtitle }} </small>{% endif %}
                  </h1>
                </div>
              {% endif %}
            {% endblock %}
          </div>

          <div id="content" class="article">
            {% block content %}{% endblock %}
          </div>
        {% endblock %}
      </div>
    {% endblock %}

    {% block __block_3 %}
      <div id="rsb" class="span5" style="margin-top:30px;">
        {% block rsb_content %}
        <div id="rsb1" class="span7">
          {% block rsb1 %}
          {% if recent %}
          <ul class="nav nav-list">
            <li class="nav-header">Recent Content</li>
            {% for i in recent %}
            <li>
              <a href="{{ url_for('content.ContentView:get', id=i.id, title=i.title) }}">
                {{ i.title }}
              </a>
            </li>
            {% endfor %}
          </ul>
          {% endif %}
          {% if popular %}
          <ul class="nav nav-list">
            <li class="nav-header">Most Popular</li>
            {% for i in popular %}
            <li>
              <a href="{{ url_for('content.ContentView:get', id=i.id, title=i.title) }}">
                {{ i.title }}
              </a>
            </li>
            {% endfor %}
          </ul>
          {% endif %}
          {% endblock %}
        </div>
        <div class="span4">
          {% block rsb2 %}
            <!-- <script type="text/javascript"> -->
            <!--   <\!-- -->
            <!--   google_ad_client = "ca-pub-0086577717613608"; -->
            <!--   /* side_bar_fossix_small */ -->
            <!--   google_ad_slot = "5485177940"; -->
            <!--   google_ad_width = 200; -->
            <!--   google_ad_height = 200; -->
            <!--   //-\-> -->
            <!-- </script> -->
            <!-- <script type="text/javascript" -->
            <!--         src="http://pagead2.googlesyndication.com/pagead/show_ads.js"> -->
            <!-- </script> -->
          {% endblock %}
        </div>
        {% endblock %}
      </div>
    {% endblock %}
  </div>
{% endblock %}

{% block script_includes %}
  <script type="text/javascript">
    // g-plus
    window.___gcfg = {lang: 'en-GB'};
    (function() {var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;po.src = 'https://apis.google.com/js/plusone.js';        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
                })();
    // twitter
    !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
  </script>
{% endblock %}
