{% extends 'master.html' %}

{% block master_head %}
<!-- Perpage head extension -->
{% block head_extension %}
{% endblock %}

{% endblock %}

{% block body_container %}
<div class="container-fluid">
  <div class="row-fluid">

    <!-- The left sidebar -->
    <div class="span1" id="lsb">
    </div>

    <!-- The middle content -->
    <div class="span7" id="main">
      <!-- Error content -->
      <div id="info">
        <div id="message"></div>
      </div>

      <div id="content-title" class="heading1">
        {% block title %}
        {% if pagetitle %}
        <div class="page-header">
          <h3> {{ pagetitle }}
            {% if subtitle %} <small>{{ subtitle }} </small>{% endif %}
          </h3>
        </div>
        {% endif %}
        {% endblock %}
      </div>

      <div id="content">
        {% block content %}
        {% endblock %}
      </div>
    </div>

    <!-- The right side bar -->
    <div id="rsb" class="span2">
      This is the right side bar
      <div id="add_block_1">
        <script type="text/javascript">
          <!--
          google_ad_client = "ca-pub-0086577717613608";
          /* side_bar_fossix_small */
          google_ad_slot = "5485177940";
          google_ad_width = 200;
          google_ad_height = 200;
          //-->
        </script>
        <script type="text/javascript"
                src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
        </script>
      </div>
    </div> <!-- rsb -->
  </div>
  {% endblock %}

  {% block body_footer %}
  <div class="row-fluid">

    <hr>

    <div class="span3">
      <a href="#" class="muted">About us</a><br/>
      <a href="#" class="muted">Contact</a><br/>
    </div>

    <div class="span4">
      <p align="center">
        <a rel="license"
           href="http://creativecommons.org/licenses/by-sa/3.0/deed.en_US">
          <img alt="Creative Commons License" style="border-width:0"
               src="http://i.creativecommons.org/l/by-sa/3.0/88x31.png"/></a><br/>
        Unless and otherwise specified by the author of a content, all work
        in <a xmlns:cc="http://creativecommons.org/ns#"
              href="http://fossix.org" property="cc:attributionName"
              rel="cc:attributionURL">http://fossix.org</a> is licensed under
        a <a rel="license"
             href="http://creativecommons.org/licenses/by-sa/3.0/deed.en_US">Creative
          Commons Attribution-ShareAlike 3.0 Unported
          License</a>. <br/>Permissions beyond the scope of this license may
        be available at <a xmlns:cc="http://creativecommons.org/ns#"
                           href="http://fossix.org/contact"
                           rel="cc:morePermissions">http://fossix.org/contact</a>.
    </div>

    <div class="span3 offset1">
    </div>
  </div>
  {% endblock %}
