{% extends 'master.html' %}
{% set title="Home" %}
{% block style %}
    .teaser {
        overflow: hidden;
        height: 3em;
    }
{% endblock %}

{% block body %}
<div class="clearfix row-fluid">
  <div class="hero-unit">
      <h1>{{ config['SITE_TITLE'] }}<small>{{ config['SITE_SUBTITLE'] }}</small></h1>
        <p>{{ config['SITE_MOTTO'] }}</p>
  </div>
</div>

<div class="container">
  <div class="row-fluid">
    <div class="span7">
      <!-- Error content -->
      <div id="info">
        <div id="message"></div>
      </div>

      {% if index_recent %}
        {% for i in index_recent %}
          <div class="box">
            <a href="{{ url_for('content.ContentView:get', id=i.id,
                     title=i.title) }}" class="item">
              <h3>{{ i.title }}</h3>
              <p>
                {{ i.teaser }}
              </p>
            </a>
          </div>
        {% endfor %}
      {% endif %}
    </div>

    <div class="span3">
      {% if index_popular %}
        <ul class="nav nav-list">
          <li class="nav-header">Most Popular</li>
          {% for i in index_popular %}
            <li>
              <a href="{{ url_for('content.ContentView:get', id=i.id, title=i.title) }}">
                {{ i.title }}
              </a>
            </li>
          {% endfor %}
        </ul>
      {% endif %}
    </div>

    <div id="add_block_1" class="span2">
      <script type="text/javascript">
        google_ad_client = "ca-pub-0086577717613608";
        /* side_bar_fossix_small */
        google_ad_slot = "5485177940";
        google_ad_width = 200;
        google_ad_height = 200;
      </script>
      <script type="text/javascript"
              src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
      </script>
    </div>
  </div>
</div>

{% endblock %}
