{% macro error_alert(errors) -%}
{% if errors %}
<div id="form-error" class="alert alert-error">
<ul class="unstyled">
  {% for e in errors %}
<li> {{ e }}
  {% endfor %}
</ul>
</div>
{% endif %}
{%- endmacro %}

{% macro perror(error) -%}
{% if error %}
  <div id="form-error" class="alert alert-error">
    <ul class="unstyled">
      <li> {{ error }}
    </ul>
  </div>
{% endif %}
{%- endmacro %}

{% macro field_errors(field) -%}
{% if field.errors %}
<div id="form-error" class="alert alert-error">
  <ul class="unstyled">
    {% for error in field.errors %}
    <li>{{ error }}</li>
    {% endfor %}
  </ul>
</div>
{% endif %}
{%- endmacro %}

{% macro render_field(field) -%}
<dt>{{ field.label }}</dt>
<dd>{{ field(**kwargs)|safe }}
  {{ field_errors(field) }}
</dd>
{%- endmacro %}

{% macro print_author(author) -%}
<a href="/profiles/{{ author.username }}" class="author">
  {{ author.fullname or author.username }}
</a>
{%- endmacro %}

{% macro article_info(author, date) -%}
  {% if author %}
    <img src="{{author.avatar(32)}}" />
    {{ print_author(author) }}
  {% else %}
    Anonymous
  {% endif %}
  {% if date %} on {{ date }} {% endif %}
{%- endmacro %}

{% macro tag_link(tag, highlight_tag) -%}
  {% if tag.keyword == highlight_tag %}
    <span class="label label-inverse">{{ tag.keyword }}</span>
  {% else %}
    <a href="{{url_for('content.TagsView:get', label=tag.keyword) }}"
       title="Content tagged with {{tag.keyword}}: {{tag.contents|count}}"
       data-toggle="tooltip" class="tooltips" data-trigger="hover"
       data-delay="700" role="button">
      <span class="label tag">{{tag.keyword}}</span>
    </a>
  {% endif %}
{%- endmacro %}

{% macro archive_content_info(c, tag=None) -%}
  <div class="muted">
    <a href="/profiles/{{ c.author.username }}" class="author">
      {{ c.author.fullname }}
    </a>
    - {{c.create_date | relative_now("%d days")}} ago
    <div class="taglist pull-right">
      {% for t in c.tags %}
        {{ tag_link(t, tag) }}
      {% endfor %}
    </div>
  </div>
{%- endmacro %}
