{% macro error_alert(errors) -%}
{% if errors %}
<div id="form-error" class="alert alert-error">
<ul class="unstyled">
  {% for e in errors %}
<li> {{ e }}
  {% endfor %}
</ul>
</div>
{% endif %}
{%- endmacro %}

{% macro perror(error) -%}
{% if error %}
  <div id="form-error" class="alert alert-error">
    <ul class="unstyled">
      <li> {{ error }}
    </ul>
  </div>
{% endif %}
{%- endmacro %}

{% macro field_errors(field) -%}
{% if field.errors %}
<div id="form-error" class="alert alert-error">
  <ul class="unstyled">
    {% for error in field.errors %}
    <li>{{ error }}</li>
    {% endfor %}
  </ul>
</div>
{% endif %}
{%- endmacro %}

{% macro render_field(field) -%}
<dt>{{ field.label }}</dt>
<dd>{{ field(**kwargs)|safe }}
  {{ field_errors(field) }}
</dd>
{%- endmacro %}

{% macro content_node(content, tag, g) -%}
<div>
<div class="taglist pull-right">
  {% for t in content.tags %}
    {% if t.keyword == tag %}
      <span class="label label-inverse">{{ t.keyword }}</span>
    {% else %}
      <a href="{{ url_for('content.TagsView:get', label=t.keyword) }}">
        <span class="label">{{ t.keyword }}</span>
      </a>
    {% endif %}
  {% endfor %}
</div>

<div class="alist">
  <a href="{{ url_for('content.ContentView:get', id = content.id, title=content.title) }}">
    {{ content.title }}
  </a>
</div>
<blockquote>
  Posted on {{content.get_create_date()}}
  by <a href="#">{{ content.author.username }}</a>
</blockquote>
</div>
{%- endmacro %}

{% macro print_author(author) -%}
<a href="/profiles/{{ author.username }}" class="author">
  {{ author.fullname or author.username }}
</a>
{%- endmacro %}

{% macro article_info(author, date) -%}
  {% if author %}
    <img src="{{author.avatar(32)}}" />
    {{ print_author(author) }}
  {% else %}
    Anonymous
  {% endif %}
  {% if date %} on {{ date }} {% endif %}
{%- endmacro %}

{% macro archive_content_info(c) -%}
  <div class="muted">
    <a href="/profiles/{{ c.author.username }}" class="author">
      {{ c.author.fullname }}
    </a>
    - {{c.create_date | relative_now("%d days")}} ago
  </div>
{%- endmacro %}

{% macro tag_detail(tag) -%}
<a href="{{url_for('content.TagsView:get', label=tag.keyword) }}"
   title="Content tagged with {{tag.keyword}}: {{tag.contents|count}}"
   data-toggle="tooltip" class="tooltips" data-trigger="hover" role="button">
  <span class="label">{{tag.keyword}}</span>
</a>
{%- endmacro %}
