{% extends "base.html" %}

{% from "utils.html" import render_field %}

{% set pagetitle="Create Profile" %}

{% block content %}
  <p>
    This is your profile editing page..  If this is the first time you signed
    in on this website, your need to select a unique username. But no worries,
    if you don't want to do it now, we will give you a temporary name until you
    come up with a nice one.
  </p>
  <form action="{{ url_for('account.ProfileView:post') }}" method="post">
    {{ form.hidden_tag() }}
    <dl>
      {{ render_field(form.fullname, size=30) }}
      {{ render_field(form.email, size=30, required=True) }}
      {{ render_field(form.username, size=30, required=True) }}
      {{ render_field(form.recaptcha) }}
      <br/>{{ form.submit }}
    </dl>
  </form>
  <p>
    If you don't want to proceed, you can <a href="{{ url_for('account.LoginView:logout') }}">
      sign out</a> again.
{% endblock %}
