{% extends "base.html" %}

{% set title="My Profile" %}
{% set pagetitle=g.user.fullname or g.user.username %}
{% set subtitle="Profile View" %}

<!-- We don't want twitter and +1 buttons on this page -->
{% block lsb_content %}
{% endblock %}

{% block content %}

<div class="row">
  <div class="span4">
    <ul class="thumbnails">
      <li class="span12">
        <div class="thumbnail">
          <img src="{{g.user.avatar(256)}}" style="max-width:100%;
               max-height:100%; height:auto;"
               alt="{{ g.user.fullname or g.user.username }}">
        </div>
      </li>
    </ul>
  </div>

  <div class="span5">
    <dl>
    {% if g.user.fullname  %}
    <dt>Name</dt>
    <dd>{{ g.user.fullname }}</dd>
    {% endif %}
    <dt>Email</dt> <dd>{{ g.user.email }}</dd>
    <dt>Privileges</dt>
    <dd>
      <ul style="unstyled">
        <li>Some permission 1</li>
        <li>Some permission 2</li>
      </ul>
    </dd>
  </div>
</div>
{% endblock %}

{% block rsb_content %}
  <a href="{{ url_for('account.edit_profile') }}" class="btn">Edit Profile</a>
{% endblock %}
