{% extends 'base.html' %}

{% from 'utils.html' import archive_content_info %}

{% set pagetitle="Archive" %}
{% set subtitle="Articles" %}

{% block content %}
{% if not content %}
<p class="alert alert-block alert-info">
  There is no content in the archive!!
  mm... That sounds weird, please report this to <em>admin@fossix.org</em>
</p>
{% endif %}

{% for c in content %}
<div class="box">
  <a class="item" href="{{ url_for('content.ContentView:get', id=c.id, title=c.title) }}">
    <h3>{{ c.title }}</h3>
  <p>
    {{ c.teaser }}
  </p>
  </a>
  {{archive_content_info(c)}}
</div>
{% endfor %}

<ul class="pager">
  {% if less %}
    <li class="previous">
      <a href="{{url_for('content.ContentView:archive', page=less)}}">
        &larr; Older
      </a>
    </li>
  {% endif %}
  {% if more %}
    <li class="next">
      <a href="{{url_for('content.ContentView:archive', page=more)}}">
        Newer &rarr;
      </a>
    </li>
  {% endif %}
</ul>

{% endblock %}
