{% extends 'base.html' %}

{% set pagetitle=content.title %}

{% block content %}
<div class="contenthead">
  By
  {% if content.author %}
  <a href="/profile/{{ content.author_id }}">{{ content.author.username }}</a>
  {% else %}
  Anonymous
  {% endif %}
  on
  {{ content.get_create_date() }} {% if content.author.is_editor(content) %}
  <a href="{{ url_for('content.edit_article', id=content.id) }}" id="edit">
    <button class="btn btn-mini"><i class="icon-edit"> </i></button></a>
  {% endif %}
  <span class="badge badge-inverse pull-right" id="likecount">{{content.like_count}}</span>
  <a href="{{ url_for('content.like', id=content.id) }}" class="pull-right" id="like">
    <button class="btn btn-mini"><i class="icon-thumbs-up"> </i>Like</button>
  </a>
</div>

<div class="content-body">
  {{ content.content | markdown }}
</div>

<div class="taglist pull-left">
  {% for t in content.tags %}
  <a href="{{ url_for('content.tag', label=t.keyword) }}"><span class="label">{{ t.keyword }}</span></a>
  {% endfor %}
</div>

{% if g.user.is_authenticated() %}
<div class="read-count pull-right">
  Number of reads: {{ content.read_count }}
</div>
{% endif %}
{% endblock %}
