{% extends 'base.html' %}

{% from 'utils.html' import print_author, article_info, tag_link %}
{% from "utils.html" import render_field, perror, archive_content_info %}

{% set pagetitle=content.title %}

{% block content %}
<div class="contenthead muted">
  {{ article_info(content.author, content.get_create_date()) }}
  {% if g.user.is_authenticated() and g.user.is_editor(content) %}
    <a href="{{ url_for('content.EditView:get', id=content.id) }}" id="edit">
      <i class="icon-edit"> </i></a>
  {% endif %}
  <span class="badge badge-inverse pull-right" id="likecount">
    {{content.like_count}}
  </span>
  <a href="{{ url_for('content.ContentView:vote', id=content.id, vote='up') }}"
     class="pull-right" id="like">
    <button class="btn btn-mini"><i class="icon-thumbs-up"> </i>Like</button>
  </a>
</div>

<div class="content-body">
  {{ content.content | markdown }}
</div>

<div class="span12">
  <div class="taglist pull-left">
    {% for t in content.tags %}
      {{ tag_link(t) }}
    {% endfor %}
  </div>

  {% if g.user.is_authenticated() %}
    <div class="read-count pull-right">
      Number of reads: {{ content.read_count }}
    </div>
  {% endif %}
</div>

<div class="span12">
  <div class="pull-right">
    {% if content.version > 1 %}
      <a href="#" data-toggle="tooltip" class="tip"
         title="Version {{content.version}}: {{content.edit_summary}}">
        Modified {{content.modified_date|relative_now("%d days")}} ago
      </a>
      by
      {{ print_author(content.author) }}
    {% endif %}
  </div>
</div>

<!-- <div class="span12 recommended well well-small"> -->
<!--   <h4>Also read</h4> -->
<!--   <div class="box"> -->
<!--     <a class="item" href="{{ url_for('content.ContentView:get', id=content.id, title=content.title) }}"> -->
<!--       <h3>{{ content.title }}</h3> -->
<!--       <p> -->
<!--         {{ content.teaser }} -->
<!--       </p> -->
<!--     </a> -->
<!--     {{archive_content_info(content)}} -->
<!--   </div> -->
<!-- </div> -->

{% if g.user.is_authenticated() %}
  <div id="comment-form-main">
    <form method="POST" id="comment-form">
      {{ comment.hidden_tag() }}
      {{ render_field(comment.content, rows=4, required=True, class="span12") }}
      <input type="submit" value="Comment" name="submit"
             formaction="{{url_for('content.CommentView:post', id=content.id)}}"
             id="comment-submit">
      <a class="btn btn-inverse" id="comment-cancel" style="display:none;">
        Cancel
      </a>
      {{ perror(comment.errors) }}
    </form>
  </div>
{% else %}
  Login to Comment
{% endif %}
<hr>

{% if content.comment_count > 1 %}
  <h3> {{content.comment_count}} Comments </h3>
{% elif content.comment_count == 0 %}
  <h3> No comments yet </h3>
{% else %}
  <h3> {{content.comment_count}} Comment </h3>
{% endif %}

{% if content.comment_count < 5 %}
  {% set last = content.comment_count %}
{% else %}
  {% set last=5 %}
{% endif %}

<div id="comments" data-url="{{url_for('content.CommentView:get',
                             id=content.id, last=last)}}"
     data-total="{{content.comment_count}}"
     data-parent="{{content.id}}">
  {% set comments = content.comments[0:last] %}
  {% set parent = content %}
  {% include 'content/comment.html' %}
</div>

<div id="loading" class="loading alert alert-info" style="display:none;"></div>

{% endblock %}
