{%- for comment in comments recursive %}
<div class="media
            {% if comment.author_id == parent.author_id %}
              comment-article-author
            {% endif %}
            {% if comment.like_count < 0 %} muted {% endif %}"
     id="comment{{comment.id}}">
  <div class="pull-left tooltips rounded"
       title="{{comment.author.username}}" data-toggle="tooltip"
       data-placement="top">
    <img class="media-object" src="{{comment.author.avatar(64)}}" />
  </div>

  <div class="media-body">
    <div class="row-fluid">
      <div class="span11">
        <h4 class="media-heading">
          {% if comment.author.website %}
            <a href="{{comment.author.website}}">
              {{comment.author.username|capitalize}}
            </a>
          {% else %}
            {{comment.author.username|capitalize}}
          {% endif %}
        </h4>

        <blockquote>
          {{ comment.content }}
        </blockquote>
      </div>

      <div class="span1">
        {% if g.user.is_authenticated() %}
        <a href="#" data-url="{{ url_for('content.ContentView:vote',
                              id=comment.id, vote='up') }}"
           class="vote" id="{{comment.id}}">
          <i class="icon-thumbs-up"> </i>
        </a>
        {% endif %}
        <br>
        <span class="badge badge-inverse"
              id="vote_count{{comment.id}}">
          {{comment.like_count}}
        </span>
        <br>
        {% if g.user.is_authenticated() %}
        <a href="#" data-url="{{ url_for('content.ContentView:vote',
                              id=comment.id, vote='down') }}"
           class="vote" id="{{comment.id}}">
          <i class="icon-thumbs-down"> </i>
        </a>
        {% endif %}
      </div>
    </div>
    <a href="#" class="comment-reply" data-parent="{{comment.id}}"
       class="span12">
      Reply
    </a>
    {%- if comment.comments -%}
    {{ loop(comment.comments) }}
    {%- endif %}
  </div>
</div>
{%- endfor %}
