{% extends 'base.html' %}

{% from 'utils.html' import archive_content_info %}
{% set pagetitle="Tag" %}
{% set subtitle=tag.keyword %}

{% block content %}
<p>
  {{ tag.description if tag.description }}
</p>
<div class="row-fluid">
  <div title="Number of Articles with tag {{ tag.keyword }}" class="pull-left" style="margin:10px;">
    <i class="icon-pencil"> </i> x {{ tag.contents|count }}
  </div>
  <div title="Number of users watching {{ tag.keyword }}" class="pull-left" style="margin:10px;">
    <i class="icon-eye-open"> </i> x 0
  </div>
  <div class="pull-left" style="margin:10px;">
    <a href="{{url_for('content.TagsView:index')}}?page=1">View all tags</a>
  </div>
  {% if g.user.is_authenticated() %}
    {% if g.user.is_watching_tag(tag) %}
      <div class="pull-left" style="margin:10px;">
        <a href="#" class="btn btn-mini disabled">Already Watching</a>
      </div>
    {% else %}
      <div class="pull-left" style="margin:10px;">
        <a href="#" class="btn btn-mini">Watch this tag</a>
      </div>
    {% endif %}
  {% endif %}
</div>

{% for c in tag.contents %}
  <div class="box">
    <a class="item" href="{{ url_for('content.ContentView:get', id=c.id, title=c.title) }}">
      <h3>{{ c.title }}</h3>
    </a>
    {{ archive_content_info(c, tag.keyword) }}
  </div>
{% endfor %}
{% endblock %}
